<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= product.name %></title>
</head>
<body>
    <h1>Edit product</h1>
    <p><strong>Product ID:</strong> <%= product._id %></p>
    <form action="/products/<%= product._id %>?_method=PUT" method="post">
        <label for="name">Product name:</label>
        <input type="text" id="name" name="name" placeholder="Name"
            required value="<%= product.name %>"><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" placeholder="Price" 
            required value="<%= product.price %>" step=".01"><br>
        <label for="category">Category:</label>
        <select name="category" id="category" required>
            <% categories.forEach(category => { %>
                <option value="<%= category %>"
                    <% if (category === product.category) { %>
                        selected
                    <% } %>
                ><%= category %></option>
            <% }); %>
        </select><br><br>
        <input type="submit" value="Edit product">
        <input type="button" value="Cancel" onclick="window.location.href='/products/<%= product._id %>'">
    </form>
</body>
</html>