<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment #<%= id %> - Details</title>
</head>
<body>
    <h1>Comment #<%= id %></h1>
    <p>Comment: <i><b><%= comment.text %></b></i></p>
    <p>Author: <i> - <%= comment.author %></i></p>
    <br>
    <a href="/comments">Back to all comments</a>
    <a href="/comments/<%= id %>/edit">Edit</a>
    <form action="/comments/<%= id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</body>
</html>