<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All comments</title>
</head>
<body>
    <h1>All comments on site
        <!-- This is janky, but eh I'm too lazy to write CSS, so... -->
        <button onclick="window.location.href = '/comments/new'">New comment</button>
    </h1>
    
    <% if (msg) { %>
        <!-- This is also janky -->
        <hr>
        <p><i><b><%= msg %></b></i></p>
    <% } %>

    <hr>
    <ul>
        <% for (let i = 0; i < comments.length; i++) { %>
            <li>
                <b><%= comments[i].author %>:</b> <%= comments[i].text %>
                <a href="/comments/<%= i %>">Details</a>
                <a href="/comments/<%= i %>/edit">Edit</a>
            </li>
        <% } %>
    </ul>
</body>
</html>