<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- The slash before reddit.css IS IMPORTANT! -->
        <link rel="stylesheet" href="/reddit.css">
        <title><%= name %> - Fakeddit</title>
    </head>
    <body>
        <a href="/r">Back to listing</a>
        <summary>
            <h1>r/<%= name %> subreddit</h1>
            <p><b><%= description %></b></p>
            <p><i>Total members: <%= subscribers %></i></p>
        </summary>

        <% for(let post of posts) { %>
        <hr>
        <section>
            <p><%= post.title %></p>
            <blockquote><i>Author: <%= post.author %></i></blockquote>
            <% if (post.img != undefined) { %>
            <img src="<%= post.img %>" alt="post image">
            <% } %>
        </section>
        <% } %>
    </body>
</html>
